html{
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	box-sizing: border-box;
}


#container{
	width: 100%;
	margin: 5% 0% 5% 10%;
	position: relative;
}

header{
	width: 90%;
	position: fixed;
}


nav{
	float: left;
	display: inline-block;
	padding-right: 4%;
}

a{
	font-size: 23px;
	text-decoration: none;
	color: black;
}

#name{
	width: 50%;
}


body{
	width: 100%;
}

#about{
	width: 65%;
	margin-left: 9.35%;
	margin-top: 8%;
	font-size: 23px;
	position: absolute;

}