*{
	box-sizing: border-box;
}

html{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #28784D;
	font-size: 0;
}

#wrapper{
	max-width: 100%;
	margin: 0;
}

header{
	background-color: #B0B2B1;
	width: 98%;
	position: fixed;
	top: 0;
	color: #003F1D;
	padding: 1% 0% 2% 6%;
	border: 15px solid #28784D;
}

a{
	text-decoration-line: none;
	color:#003F1D;
	font-size: 18px;
	box-sizing: none;
}

h1{
	font-size: 72px;
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0 0 0 10%;
}

main{
	display: inline-block;
	width: 59%;
	margin: 15% 0% 0% 25%;
	padding: 5%;
	background-color: white;
	font-size: 18px;
}

section{
	margin-bottom: 20%;
}

img{
	width: 100%;
}