*{
	box-sizing: border-box;
}

html{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #1070FF;
	font-size: 0;
}

#wrapper{
	max-width: 100%;
	margin: 0;
}
/*header__________________________________________*/
header{
	width: 90%;
	position: fixed;
	top: 0;
	color: black;
	padding: 1% 0% 4% 6%;
	background-color: #1070FF; 
}

a{
	text-decoration-line: none;
	color:#012B68;
	font-size: 18px;
	box-sizing: none;
	margin-left: 5%;
}

a:hover{
	color: white;
}

h1{
	font-size: 72px;
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0 0 0 10%;
}

/*gradient___________________________________________________________*/
#homegradient{
	background: linear-gradient(rgba(40,120,77,1), rgba(40,120,77,0));
	position: fixed;
	height: 2%;
	top:25.5%;
	left:30.25%;
	width: 49.4%;
}


main{
	display: inline-block;
	width: 60%;
	margin: 0% 0% 0% 25%;
	padding: 5% 5% 5% 5%;
	font-size: 18px;
}

section{
	margin: 10% 0%;
}



span{
	color:#4C001F;
}

/*navigation between posts_____________________________*/
#p1, #p2{
	float: left;
	display: inline-block;
	color:#012B68;
	font-size: 18px;
	border:1px solid #012B68;
	padding: 2%;
}

#p1{
	position: fixed;
	top: 40%;
	left: 15%;
}

#p2{
	position: fixed;
	top:40%;
	left: 85%;
}

/*posts_____________________________________________________________*/
img{
	width: 100%;
	padding-bottom: 3%;
}

#posta{
	background-color: #FF4100;
	color: white;
	padding: 4%;
}


#postb{
	background-color: #DE0052;
	color: white;
	padding: 4%;
}

h3{
	text-align: center;
}

script{
	display: all;
}

#blog{
	width: 100%;
}

#post1prev, #post2prev, #post3prev, #post4prev, #post5prev, #post6prev, #post7prev, #post8prev{
	float: left;
	display: inline-block;
	border: 1px solid black;
	width: 40%;
	padding: 2%;
	font-size: 14px;
	color: white;
	margin: 2%;
}