*{
	box-sizing: border-box;
}

html{
	background-color: black;
	margin: 2%;
}


/*@font-face {
    font-family: 'calalight';
    src: url('calalig-webfont.woff2') format('woff2'),
         url('calalig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

body{
	color: #65EE00;
	/*font-family: 'calalight';
	letter-spacing: 1px;*/
	font-family: Courier;	
}

nav{
	float: left;
	display: inline-block;
	width: 30%;
}

.title{
	font-size: 42px;
	padding-bottom: 1.5%;
	margin-top: 5%;
}

.class{
	margin-bottom: 12%;
}

li{
	list-style-type: none;
	padding-bottom: 1.5%;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: #65EE00;
}

a:hover{
	text-decoration: underline;
}

header{
	color: white;
	float: left;
	display: inline-block;
	width: 52%;
	position: fixed;
}

h1{
	font-size: 84px;
	text-align: center;
}

h2{
	font-size: 31px;
	text-align: center;
	line-height: 40px;
}