*{
  box-sizing:border-box;
  font-family:Helvetica;
  text-align:justify;
}
.wrapper {
  width:355px;
  height:1180px;
  font-size:12px;
  padding:15px;
  background-color:lemonchiffon;
  border: 1px solid black;
  display:inline-block;
}


.wrapper img {
  width:100%;
  padding-bottom:10px;
}

h1 {
  text-transform:uppercase;
  font-size:31px;
  text-align:center;
}

.wrapper2 {
  display:inline-block;
  vertical-align:top;
  padding-left:10px;
  width:600px;
  text-align:justify;


}

.wrapper2 img{
  padding-bottom:10px;
}

#wrapper3 {
  background-color:MistyRose;
  border:1px solid black;
  width:592px;
  font-size:12px;
  padding:10px;
}
