html{
	width: 100%;
}

body{
	width: 90%;
	height: 600px;
	margin-left: 10%;
	margin-top: 5%;
}

p{
	color: darkgrey;
	font-size: 16px;
	width: 25%;
	position: absolute;
}

#square1{
	width: 30%;
	height: 450px;
	background-color: #FFF100;
	display: inline-block;
	float: left;
	position: absolute;
	top: 42%;
}

#square2{
	width: 30%;
	height: 450px;
	background-color: #3D00B2;
	display: inline-block;
	position: absolute;
	top: 42%;
	left: 62%;
}

#square3{
	width: 25%;
	height: 278px;
	background-color: #8A00AC;
	position: absolute;
	top: 57%;
	left: 49.5%;
	opacity: .5;
}

#squares{
	margin-left: 25%;
}