*{
	box-sizing: border-box;
	
}

body{ 
	margin: 0;
	background-color: #ECE2C3;
}

#bar{
	background-color: #622A00;
	vertical-align: top;
}

a{
	text-decoration: none;
	color: black;
}
h1{
	margin: 0;
	padding: 10px 20px 10px;
	font-family: Garamond;
	color: white;
	font-size: 36px;
	text-shadow: 2px 2px 2px black;
	display: inline-block;
	letter-spacing: 1px;
}

h1 a{
	color: white;
}

h1 a:hover{
	color: white;
}

input{
	font-family: Calibri;
	color: #828282;
	font-size: 16px;
	width: 480px;
	padding: 3px;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}

nav{
	display: inline-block;
	width: 240px;
	height: 340px;
	padding: 40px 20px;
	font-family: Calibri;
	font-size: 24px;
	font-weight: bold;
}

#nav1, #nav2, #nav3, #nav4, #nav5{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 15px;
}

nav a:hover{
	color: white;
}



#filter{
	padding-top: 40px;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	color: #664628;
}

ul{
	list-style-type: none;
	-webkit-padding-start: 20px;
}

li{
	border-top: 1px solid black;
	padding: 10px;
	width: 200px;
}

#featured_content{
	font-family: Calibri;
	float: left;

}

#featured_content p{
	color:#828282;
}

#featured_content img{
	border: 2px solid #8E7E7E7;
	
}

#featured1, #featured2, #featured3, #featured4{
	border: 5px solid #622A00;
	background: white;
	padding: 10px;
}

#featured1{
	width: 506px;

}

#featured1 img{
	width: 476px;
}