*{
	box-sizing: border-box;
	
}

body{ 
	margin: 0;
	background-color: #ECE2C3;
}

#bar{
	background-color: #C68C58;
	vertical-align: top;
}
h1{
	margin: 0;
	padding: 10px 20px 10px;
	font-family: Garamond;
	color: white;
	font-size: 36px;
	text-shadow: 2px 2px 2px black;
	display: inline-block;
	letter-spacing: 1px;
}


input{
	font-family: Calibri;
	color: #828282;
	font-size: 16px;
	width: 480px;
	padding: 3px;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}

nav{
	display: inline-block;
	width: 240px;
	height: 340px;
	padding: 40px 20px;
	font-family: Calibri;
	font-size: 24px;
	font-weight: bold;
}

#nav1, #nav2, #nav3, #nav4, #nav5{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 15px;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	color: white;
}



#filter{
	padding-top: 40px;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	color: #664628;
}

ul{
	list-style-type: none;
	-webkit-padding-start: 20px;
}

li{
	border-top: 1px solid black;
	padding: 10px;
	width: 200px;
}

.metadata{
	
}