body{ 
	margin: 0;
	box-sizing: border-box;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/d7/1c/99/d71c99a46c81395aa39d169ee4a221c3.jpg");
	background-size: contain;

}

a{
	text-decoration: none;
	color: black;
}

header{
	background-color: black;
	font-family: Impact;
	color: white;
	font-size: 74px;
	letter-spacing: 1px;
    float: left;
    width: 100%;
    text-align: right;
    padding:0px 91px 0px 0px;
    margin: 0;
}

header a{
	color: white;
}

header a:hover{
	color: white;
}

nav{
	padding:0px 18px 18px 18px;
	width: 100%;
	height: 800px;
	font-family: Impact;
	font-size: 40px;
	background-color: black;
	letter-spacing: 1px;
}

#nav1, #nav2, #nav3, #nav4, #nav5{
	border: 1px solid black;
	text-align: center;
	margin-bottom: 18px;
}

nav div {
	position: relative;
}

nav div:hover a, nav div:hover{
	display: block;
	color: white;
	background-color: darkred;
}


nav a {
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	display: none;
}

nav img {
	display: block;
	width: 100%;
}

.sidebar{
	float: left;
	display: inline-block;
}

#featured_image{
	float: left;
	display: inline-block;
	width: 64%;
	margin-top: 30px;
	box-sizing: border-box;
	border: 8px solid black;
}

#featured_text{
	font-family: Calibri;
	background-color: white;
	padding: 10px;
	width: 50%;
}

#featured_text p{
	font-size: 18px;
}

#featured_image img, #featured_image video, #featured_image audio{
	border: 3px inset lightgrey;
	width: 100%;
	background: white;
	padding: 30px;
}